/* Importa folhas de estilo do tema e de contatos */
@import url('/style.css');


.main-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffefce;
}

.main-login a,
.main-login p{
    color: #555;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}

.main-login h1{
    color: #a30000;
    text-align: center;
    font-size: 40px;
}

.main-login form {
    background-color: #ffca00;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.main-login label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #a30000;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #ffca00;
    outline: none;
}

input[type="submit"] {
    background-color: #a5c135;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #9ffa02;
}